<%- layout('layout/boilerplate') %>

<h1 class="display-4 text-center"><%= query %></h1>
<div class="container">
  <div class="row mx-auto">
    <% data.Search.forEach(function(movie){ %>
    <div class="card p-0 m-3 text-center" style="width: 250px">
      <img
        src="<%= movie.Poster %>"
        class="card-img-top"
        style="height: 370px"
        alt="..."
      />
      <div class="card-body">
        <p class="card-title"><%= movie.Title %></p>
        <a href="/result/<%= movie.imdbID %>" class="btn btn-success"
          >View Movie</a
        >
      </div>
    </div>
    <% }) %>
  </div>
</div>
